# MongoDB Atlas Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/reel_analyzer?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://Manikanta1884:Mani_123@manidb.4knhfie.mongodb.net/reel-analyzer?appName=Manidb
MONGODB_DB=reel_analyzer

# Google AdSense Publisher ID
# Example: NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-1234567890123456
NEXT_PUBLIC_ADSENSE_CLIENT_ID=

